body {
    margin: 0;
    background-image: url("woodBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

#masterDiv {
    width: 80vw;
    height: 100vh;
    background-color: rgba(255, 228, 196, 0.704);
    background-attachment: fixed;
    margin: auto;
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
}

#logo {
    height: 100%;
    width: 30%;
    min-width: 300px;
}

#searchBarDiv {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}

#searchBar {
    height: 20%;
    width: 80%;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

#searchIcon {
    height: 21.2%;
    width: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

#cartBox {
    height: 100%;
    width: 10%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    object-fit: fill;
}

#cart {
    position: absolute;
    height: 60%;
    width: 60%;
}

#totalItemCounter {
    position: absolute;
    font-size: 1.5vw;
    padding-bottom: 20px;
    padding-left: 5px;
}

#itemShopGrid {
    margin: auto;
    height: 85%;
    width: 100%;
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
}

.shopItemDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shopItemImage {
    width: 60%;
    height: 100%;
}

#strawberryJam { 
    grid-row: 1 /  2;
    grid-column: 1 / 2;
}

.quantityButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.minusButton {
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.plusButton {
    width: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.shopItemCounter {
    font-size: large;
}

.itemLabel {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bolder;
}