body {
    margin: auto;
    background-image: url("woodBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#masterDiv {
    width: 80vw;
    height: 100vh;
    background-color: rgba(255, 228, 196, 0.704);
    margin: auto;
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
}

#logo {
    height: 100%;
    width: 30%;
    min-width: 300px;
}

#searchBarDiv {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}

#searchBar {
    height: 20%;
    width: 80%;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

#searchIcon {
    height: 21.2%;
    width: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

#cartBox {
    height: 100%;
    width: 10%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#cart {
    position: absolute;
    height: 100%;
    
}

#totalItemCounter {
    position: absolute;

}