* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f3f3f3;
}

#mainCanvas {
    background-color: white;
    width: 1100px;
    margin: auto;
    height: 1000px;
}

header {
    display: flex;
    height: 100px;
    background-color: #FA320A;
}

.logo {
    width: 165px;
}

.searchBox {
    margin: 35px;
    margin-right: -50px;
    width: 400px;
    border-radius: 17px;
    border: white 10px;
    background-color: #961E06;
    font-size: 17px;
    color: white;
    text-align: center;
}

#linkGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 100px;
    margin-right: 10px;
    gap: 30px;
}

.gridButton {
    margin-top: 50px;
    padding-left: 16px; 
    padding-right: 16px;
    background-color: #FA320A;
    border: none;
    border-color: #FA320A;
    color: white;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
}

.gridButton:hover {
    background-color: white;
    color: black;
}

nav {
    display: flex;
    height: 30px;
    background-color: #6F6F6F;
}

#recommendLink {
    display: inline;
    color: #EFD921;
    margin-left: 10px;
    padding-top: 5px;
    font-size: 16px;
    cursor: pointer;
}

.otherNavLink {
    display: inline;
    color: white;
    font-size: 15px;
    padding-top: 7px;
    padding-left: 15px;
    cursor: pointer;
}
aside {
    float: left;
    width: 315px;
    border: solid 1px #E9E9EA;
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: -450px;
}

article {
    float: right;
    width: 740px;
    margin-top: 20px;
}

#video {
    border: 0;
    border-radius: 15px;
}

#posterAndScore {
    display:flex;
}

#posterSmall {
    display: inline;
    float: left;
    width: 155px;
    height: 220px;
    margin-top: 25px;
    border-radius: 15px;
}

#score {
    height: 220px;
    float: right;
    width: 570px;
    background-color: #f3f3f3;
    border-radius: 15px;
    margin-left: 14px;
    margin-top: 25px;
}