/*
Author: Ventura Abram
Homework 4: Resume
file: resumeStyle.css
*/

body {
    margin: auto;
    background-color: #F4ECD7;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid lightgrey;
}

#nameTitle {
    margin-left: 10px;
    font-family: "Bonheur Royale", cursive, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

#topButtonBox {
    margin-right: 20px;
}

.navButton {
    border: 2px solid transparent;
    background-color: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
}

.navButton:hover {
    border-bottom: 2px burlywood solid;
}

#mainContent {
    display: flex;
    justify-content: space-between;
    border-top: solid 2px darkgrey;
    border-bottom: solid 2px darkgrey;
    height: fit-content;
}

footer {
    display: flex;
    justify-content: center;
    border-top: solid lightgrey;
}

#selfPortrait {
    width: 50vw;
}

#buttonAndDivBox {
    height: inherit;
}

.buttonIcon {
    width: 50px;
}

#USButton {
    background-image: url("USIcon.jpg");
}

#CSButton {
    background-image: url("CSIcon.jpg");
}
.contentButton {
    background-size: contain;
    background-repeat: no-repeat;
    width: 4%;
    height: 6%;
    border-bottom: none;
    cursor: pointer;
}

#infoWindow {
    border-top: black, solid, 1px;
    background-color: #58544b7c;
    width: 50vw;
    height: 94%;
    position: relative;
}

.infoContent {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
    background-color: #58544b7c;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#aboutMeInfo {
    opacity: 0;
}

#aboutMeInfo h2 {
    margin-bottom: 0;
}

#contactInfo {
    opacity: 0;
}

#ultrasoundInfo {
    opacity: 0;
    justify-content: start;
    font-size: 100%;
}

#ultrasoundInfo h1 {
    margin-bottom: 0;
}

#ultrasoundInfo h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#ultrasoundInfo h4 {
    margin-top: 0;
    margin-bottom: 0;
}

#csInfo {
    opacity: 0;
}

.infoContent p {
    padding-left: 5px;
    margin-top: 0;
}

footer {
    display: flex;
    justify-content: center;
}

footer img {
    width: 50px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}