body {
    margin: auto;
    background-color: #F4ECD7;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid lightgrey;
}

#nameTitle {
    margin-left: 10px;
    font-family: "Bonheur Royale", cursive, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

#topButtonBox {
    margin-right: 20px;
}

.navButton {
    border: 2px solid transparent;
    background-color: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s;
}

.navButton:hover {
    border-bottom: 2px burlywood solid;
}

#mainContent {
    display: flex;
    justify-content: space-between;
    border-top: solid 2px darkgrey;
    border-bottom: solid 2px darkgrey;
    height: fit-content;
}

footer {
    display: flex;
    justify-content: center;
    border-top: solid lightgrey;
}

#selfPortrait {
    width: 50vw;
}

.buttonIcon {
    width: 50px;
}

#USButton {
    background-image: url("USIcon.jpg");
}

#CSButton {
    background-image: url("CSIcon.jpg");
}
.contentButton {
    background-size: contain;
    width: 50px;
    height: 50px;
}

#infoWindow {
    background-color: green;
    width: 50vw;
    height: 500px;
}

.infoContent {
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

#aboutMeInfo {
    background-color: red;
}

#contactInfo {
    background-color: green;
}

#ultrasoundInfo {
    background-color: blue;
}

#csInfo {
    background-color: black;
}