body {
    margin: auto;
    background-color: #F4ECD7;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
}

#USPanel {
    background-color: aquamarine;
}

#devPanel {
    background-color: bisque;
}

.mainPanel {
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    opacity: 30%;
    transition: 0.3s;
}

.mainPanel:hover {
    opacity: 100%;
    margin-left: 1%;
    margin-right: 1%;
}